.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

html {
  background-color: #f1efda;
  /* overflow-y: hidden; */
}
body {
  font-family: 'Gaegu', cursive;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-size: 3.7rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

img {
  width: 60%;
  margin:0;
  /* padding: 10px 0; */
}


label {
  font-size: 1.6rem;
}


#filtration {
  font-family: 'Gaegu', cursive;
  font-size: 1.5rem;
  border-radius: 12px 12px;
  padding: 5px 10px;
  margin: 0 auto;
  display: block;
}

button {
  font-family: 'Gaegu', cursive;
  font-size: 1.3rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 12px 12px;
  padding: 4px 10px;
  margin-top: 10px;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: black;
  color: #f1efda;
  transition: 0.25s;
}

.resultDiv {
  margin: 0 100px;
}

.result {
  color: #BB7E5D;
  font-size: 1.7rem;
  margin: 10px 0;
}

footer {
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

@media (max-width: 650px) {
  .resultDiv {
      margin: 0 30px;
  }
}
@media (max-width: 450px) {
  #filtration {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
  }
  .resultDiv {
    margin: 0 10px;
  }
}